<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<title>Sistema de Vendas</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"></link>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	</head>
	<body class="grey lighten-5">
	
	<!-- criando um design legalzinho -->
		<!-- navbar -->
		<nav>
			<div class="nav-wrapper red darken-4">
				<a href="#" class="brand-logo" style="margin-left: 1.2em; text-shadow: 4px 4px 13px rgba(0, 0, 0, 0.94);">MercadinhoTop</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse">
					<i class="material-icons">menu</i>
				</a>
				<ul class="right hide-on-med-and-down">
				<li>
					<a class="btn red darken-4 waves-effect waves-light" href="#">Login</a>
				</li>
				</ul>
				
				<ul class="side-nav" id="mobile-demo">
					<a class="btn red darken-4 waves-effect waves-light" style="width:80%;" href="#">Login</a>
				</ul>
			</div>
		</nav>
		
		<!-- container da página -->
		<div class="container">
			<h3>Bem-vindo!</h3>
			
			<!-- texto de boas vindas -->
			<p class="flow-text">
				Você está no site do mercadinho TOP. Aqui você encontrará todas as ofertas da semana, novidades de produtos. Agora você pode
				fazer suas compras totalmente online através de nosso sistemas e receber suas compras no conforto da sua casa.
			</p>
			
			<div class="divider"></div>
			
			
		</div>
		
		<!-- scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
      	
      	<!-- script pessoal -->
      	<script type="text/javascript">
      		$(document).ready(function(){
      	    		$(".button-collapse").sideNav();
      	    		$('.collapsible').collapsible({
      	      	accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      	    	});
      	  });
      	</script>
      	
      	<style>
      	/*Estilos próprios da página*/
      	html{
      		line-height: 1.5;
      	}
      	
      	h3{
      		text-align: center;
      		color: #bf360c;
      	}
      	
      	.brand-logo{
      		font-family: 'Kaushan Script', cursive;
      	}
      	</style>
      	
	</body>
</html>